
/*reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 150px;
    margin-top: 10px;

}
/* estilos del header */
header nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 30px;
    
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
}

.menu{
    width: 200px;
    height: 30px;
    background-color: cornflowerblue;
   font-size: 20px;
}

header nav ul li:hover{
    text-align: center;
    background-color: rgb(173, 180, 194);
    color: black;
}
