
/*reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 200px;

}
/* estilos del header */
header nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: rgb(171, 171, 194);
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
}

.menu{
    width: 200px;
    height: 30px;
    background-color: rgb(138, 138, 229);
   font-size: 20px;
}

header nav ul li:hover{
    text-align: center;
    background-color: rgb(25, 29, 29);
    color: whitesmoke;
}
